/*@import "_theme";

.techstackFlexbox {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.techstackFlexitem {
  flex: 0 1 auto;
  padding: 0.5em;
}

.webProjectsHeader {
  text-align: center;
  padding: 2em;
  text-decoration: underline;
  color: $color-forth-darker;
}

.projectGithub > svg {
  height: 50px;
  fill: $color-forth-darker;
}

.techstackHeader {
  color: $color-grey-lightest;
  font-size: 2em;
  padding: 1em;
}

.projectDivider {
  border-color: $color-first-darker;
}
*/