/*--------------- Colors ------------*/
// Blue
$color-first: #4CD2FF;
$color-first-darker: #238FB2;

// AQUA
$color-second: #3AE8E6;
$color-second-darker: #179B9A;

// Seafoam Green 
$color-third: #3FFFC6;
$color-third-darker: #1AB285;

// Pastel Purple
$color-forth: #3A8EE8;
$color-forth-darker: #17579B;

// Grey
$color-grey : #CCCCCC;
$color-grey-darker : #888888;
$color-grey-darkest : #666666;
$color-grey-lighter : #EEEEEE;
$color-grey-lightest : #FCFCFC;
