/*--------------- Colors ------------*/
// Blue
$color-first: #4cd2ff;
$color-first-darker: #238fb2;

// AQUA
$color-second: #3ae8e6;
$color-second-darker: #179b9a;

// Seafoam Green
$color-third: #3fffc6;
$color-third-darker: #1ab285;

// Pastel Purple
$color-forth: #3a8ee8;
$color-forth-darker: #17579b;

// Grey
$color-grey: #cccccc;
$color-grey-darker: #888888;
$color-grey-darkest: #666666;
$color-grey-lighter: #eeeeee;
$color-grey-lightest: #fcfcfc;
