@import url('https://fonts.googleapis.com/css?family=Open+Sans');
html,
body,
ul,
li,
h1,
h2,
h3,
h4,
h5,
h6,
p,
div,
span,
section,
article,
iframe,
a {
  margin: 0;
  padding: 0;
}
a:hover{
  color: #458bca;
  text-decoration: none; 
}

body {
  font-family: "Open Sans", sans-serif;
  /*background: white;*/
  /*color: #263743;*/
  color: ivory;
}

span.Cursor.Cursor--blinking {
  display: none;
}

svg {
  margin: 0 auto;
}

.top {
  opacity: 0;
  animation: glow 3s infinite 1.5s;
}

.bottom {
  opacity: 0;
  animation: glow 6s ease-in infinite 1.5s;
}

#headerLogo svg.bottom {
  opacity: 1;
  animation: none !important;
}

.circle {
  opacity: 0;
  animation: glow 3s infinite 1.5s;
}

.draw {
  fill: none;
  stroke: #000;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-dasharray: 20;
  animation: line 6s ease-in-out infinite 1.5s;
}

.vert {
  fill: none;
  display: none;
  stroke: #000;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-dasharray: 20;
  animation: line 2s ease-in-out infinite;
  /*animation: line 6s ease-in-out infinite;*/
}

/*MASONRY*/

.masonryWrapper {
  /*margin: 0 auto;*/
}

.masonryImage {
  padding: 1em 0;
}

.masonryGallery {
  margin: 0 auto;
}

@keyframes glow {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.navbar-default {
  border: none !important;
}

@keyframes line {
  0% {
    stroke: #000;
    stroke-dashoffset: 10;
    opacity: 1;
  }
  25% {
    stroke: lightslategray;
    stroke-dashoffset: 50;
    opacity: 1;
  }
  50% {
    stroke: darkslategray;
    stroke-dashoffset: 100;
    opacity: 1;
  }
  75% {
    stroke: antiquewhite;
    stroke-dashoffset: 320;
    opacity: 1;
  }
  100% {
    stroke: black;
    stroke-dashoffset: 200;
    opacity: 0;
  }
}

#welcomeLogo {
  height: 30vh;
}

#headerLogo svg.bottom {
  height: 5vh;
  overflow: hidden;
}

.navbar-brand {
  padding: 0;
}

svg.bottom {
  overflow: hidden;
  height: 30vh;
}

body {
  /*background: #0b1d2a;*/
}

.arrows {
  width: 60px;
  height: 72px;
  position: absolute;
  left: 50%;
  margin-left: -30px;
  top: 88vh;
}

.arrows path {
  stroke: #2994d1;
  fill: transparent;
  stroke-width: 1px;
  animation: arrow 2s infinite;
  -webkit-animation: arrow 2s infinite;
}

@keyframes arrow {
  0% {
    opacity: 0;
  }
  40% {
    opacity: 1;
  }
  80% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

@-webkit-keyframes arrow {
  0% {
    opacity: 0;
  }
  40% {
    opacity: 1;
  }
  80% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

.arrows path.a1 {
  animation-delay: -1s;
  -webkit-animation-delay: -1s; /* Safari 和 Chrome */
}

.arrows path.a2 {
  animation-delay: -0.5s;
  -webkit-animation-delay: -0.5s; /* Safari 和 Chrome */
}

.arrows path.a3 {
  animation-delay: 0s;
  -webkit-animation-delay: 0s; /* Safari 和 Chrome */
}

.typistHeader {
  font-size: 3.6em;
  padding-bottom: 1em;
}

@media screen {
}

.welcomeStyle {
  padding: 20;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}

@media screen and (max-width: 700px) {
  .welcomeStyle {
    padding: 0;
  }
  .typistHeader {
    font-size: 1.5em;
  }
  .typistContent {
    font-size: 1em;
  }
  ul.nav.navbar-nav.navbar-right {
    display: none;
  }
  #navBarRightMobile {
    /*display: inline !important;*/
    border: 5px solid black !important;
  }
}

#navBarRightMobile {
  display: none !important;
}

ul.nav.navbar-nav.navbar-right {
  /*display: none;*/
}

/*PARTICLES*/

.particles {
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  /*z-index: -999;*/
}
.webProjectsWrapper {
  /*color: #263743;*/
}

#appWrapper {
   background: -webkit-linear-gradient(to bottom, rgba(51,135,195,0.3), rgba(51,135,195,1)); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to bottom, rgba(51,135,195,0.3), rgba(51,135,195,1)); 
}
.welcomeWrapper {
  height: 100vh;
  display: block;
}


.iframeStyles {
  height: 40vh;
  width: 100%;
}



.projectHeader {
  text-align: center;
  padding: 1em 0;
}

.projectBannerImage > img{
  position: relative;
  /*width: 1000px !important;*/
  /*height: 50vh;*/
  /*border: 10px solid gold;*/
  max-width: 100%;
  padding: 2em 1em 1em 1em;
}
/*MUSIC*/
.bandcampStyles {
  border: 1px solid black;
  max-width: 700px;
  min-height: 40vh;
  margin-bottom: 2em;
}

/*NAVBAR*/
.navbar {
  height: 5vh;
  width: 100vw;
  top: 0;
  left: 0;
  /*background: rgba(0, 0, 0, 0);*/
  background: rgb(194, 219, 237);
  /*color: #263743;*/
}
.scrollLink {
  display: block;
  padding: 0 0.5em;
  color: white;
  /*text-decoration: none;*/
  /*outline: none;*/
}

.scrollLink:hover {
  text-decoration: none;
  cursor: pointer;
  color: #458bca;
}
ul.dropdown-menu {
    background: rgb(194, 219, 237);
    text-align: center;
    border: 0.5px solid rgb(194, 219, 237);
}

.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:focus, .navbar-default .navbar-nav>.open>a:hover {
    /*color: #555;*/
    background: rgba(26, 246, 232, 0.5);
}

a.dropdown-toggle {
    color: white !important;

}

a.dropdown-toggle:hover {
    color: #458bca !important;

}

/*CONTENT*/
.textStyle {
  display: flex;
  text-align: justify;
  padding: 2em;
}

.appWrapper {
  text-align: center;
  max-width: 1000px;
  margin: 0 auto;
}

.descriptionWrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.descriptionColumn {
  list-style: none;
  display: flex;
  flex-direction: column;
  padding: 1em;
}

.descriptionItem {
  flex: auto;
  padding: 1em;
}

.footerFlexbox {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  padding: 4em;
  /*margin: 2em 1em;*/
}

.footerItem {
  flex: auto;
  /*padding: 4em;*/
  max-width: 10vw;
}

.footerItem > a {
  fill: white;
}

.footerItem > a:hover {
  fill: #458bca;
  transition: 0.2s ease;
}

div.img-div {
  height: 200px;
  width: 200px;
  overflow: hidden;
  border-radius: 50%;
}

.img-div img {
  -webkit-transform: translate(-50%);
  margin-left: 100px;
  height: 100%;
  max-width: 100%;
  display: inline;
}

.aboutFlexbox {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
}

.aboutPhoto {
  flex: 0 1 auto;
  /*align-self: center;*/
}
.aboutText {
  flex: auto;
}

ul {
  list-style: none;
}

.codeSnippetsHeader {
  text-align: center;
  margin: 0 auto;
  padding: 1em 1em 0em 1em;
}

.projectGithub > a > svg {
  height: 5vh;
  fill: white;
}
.projectGithub {
  padding-bottom: 2em;
}

.resume{
  padding: 1em;
}
.resume > a> h2{
  padding: 1em;
}

.resume:hover {
  transform: -10px;
  transition: 0.2s ease;
}

.resume > a {
  color: white;
}
.resume > a:hover {
  color: #458bca;
  text-decoration: none;
}

.projectDescription {
  padding: 1em;
}

.projectAccomplishments {
  padding: 1em;
}

.svg-wrapper {
  height: 60px;
  margin: 0 auto;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  width: 320px;
}

.shape {
  fill: transparent;
  stroke-dasharray: 140 540;
  stroke-dashoffset: -474;
  stroke-width: 8px;
  stroke: #19f6e8;
}

.text {
  color: #fff;
  font-family: 'Open Sans', sans-serif;
  font-size: 22px;
  letter-spacing: 8px;
  line-height: 32px;
  position: relative;
  top: -48px;
}

@keyframes draw {
  0% {
    stroke-dasharray: 140 540;
    stroke-dashoffset: -474;
    stroke-width: 8px;
  }
  100% {
    stroke-dasharray: 760;
    stroke-dashoffset: 0;
    stroke-width: 2px;
  }
}

.svg-wrapper:hover .shape {
  -webkit-animation: 0.5s draw linear forwards;
  animation: 0.5s draw linear forwards;
}

.projectHeader {
  /*font-size: 2em;*/
  /*padding: 2em;*/
}
.projectTagline{
  /*color: #19f6e8;*/
}

.proFlex {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  /*border: 5px solid orange;*/
}

.proFlexRight {
  flex-direction: row-reverse;
}

.proText {
  flex: 1 1 auto;
  /*border: 1px solid green;*/
  max-width: 50%;
}


/*.proImg:nth-of-type(2n+1) {
  order:-11;
  border: 100px solid gold;
}*/

.proImg {
  max-width: 50%;
  flex: 1 1 auto;
  /*border: 1px solid pink;*/
  /*order: -9;*/
}
.proOdd:nth-child(2) {
  order: -99;
}
.proFlex:nth-child(odd) {
  /*border: 10px solid gold;*/
  /*order:-1;*/
}

.proCol {
  display: flex;
  flex-direction: column;
}

.proColItem {
  flex: 1 1 auto;
}

.photographyWrapper {
  display: flex;
  flex-direction: row;
}
.photographyWrapper > div>h3 {
  text-align: center;
  padding: 1em;
}  

.PWFineArt {
  background: rgba(0,0,0,0.9);
  flex: 1;
}
.PWWeddings {
  background: rgba(255,255,255,0.9);
  flex: 1;
  color: black;
}

.PWFlexrow {
  border: 10px solid gold;
  display: flex;
  flex-direction: row;
  min-height: 30vh;
}
.PWFlexitem {
  flex: auto;
  height: 100%; 
}

.PWFlexitem > img {
    width: 100%;
}

.PWFlexitem > img {
    width: 100%;
}

.PWTestimonials {
  overflow: scroll;
  max-height: 300px;
}

.techstackFlexbox {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  /*border: 1px solid gold;*/
  justify-content: space-evenly;
}

.techstackFlexitem {
  /*border: 1px solid green;*/
  flex: 0 1 auto;
  padding: 0.5em;
}

.projectGithub > svg{
  height: 50px;
  fill: white;
  /*display: block;*/
}

.techstackHeader {
  color: white;
  font-size: 2em;
  padding: 1em;
}

.projectDivider {
  border-color: black;
}