@charset "UTF-8";
/*--------------- Typography ------------*/
@import url("https://fonts.googleapis.com/css?family=Open+Sans");
@import url("https://fonts.googleapis.com/css?family=Open+Sans");
@import url("https://fonts.googleapis.com/css?family=Open+Sans");
h1 {
  font-family: "Open Sans", sans serif;
  font-weight: 700;
  font-size: 48px; }
  @media (max-width: 991px) {
    h1 {
      font-size: 24px; } }

h2 {
  font-family: "Open Sans", sans serif;
  font-weight: 700;
  font-size: 24px;
  text-transform: uppercase;
  letter-spacing: 0.125em; }
  @media (max-width: 991px) {
    h2 {
      font-size: 18px; } }

h3 {
  font-family: "Open Sans", sans serif;
  font-size: 16px; }

h6 {
  margin: -15px 0px; }

body {
  font-family: "Open Sans", sans serif;
  font-size: 15px; }

/*--------------- Colors ------------*/
/*--------------- Typography ------------*/
h1 {
  font-family: "Open Sans", sans serif;
  font-weight: 700;
  font-size: 48px; }
  @media (max-width: 991px) {
    h1 {
      font-size: 24px; } }

h2 {
  font-family: "Open Sans", sans serif;
  font-weight: 700;
  font-size: 24px;
  text-transform: uppercase;
  letter-spacing: 0.125em; }
  @media (max-width: 991px) {
    h2 {
      font-size: 18px; } }

h3 {
  font-family: "Open Sans", sans serif;
  font-size: 16px; }

h6 {
  margin: -15px 0px; }

body {
  font-family: "Open Sans", sans serif;
  font-size: 15px; }

/*--------------- Colors ------------*/
/*--------------- Links and buttons ------------*/
a {
  font: "Open Sans", sans serif 14px bold;
  color: #3fffc6;
  text-decoration: none; }

a:hover {
  font: "Open Sans", sans serif 14px bold;
  color: #1ab285; }

.btn-base, .btn-primary, .btn-primary:hover, .btn-secondary, .btn-secondary:hover {
  height: 40px;
  padding-left: 40px;
  padding-right: 40px;
  text-transform: uppercase;
  border: 0px; }

.btn-primary, .btn-primary:hover {
  background-color: #3ae8e6;
  border-color: #3ae8e6;
  text-color: white; }

.btn-primary:hover {
  background-color: #179b9a; }

.btn-secondary, .btn-secondary:hover {
  border-color: #3ae8e6;
  text-color: #3ae8e6;
  opacity: 1; }

.btn-secondary:hover {
  text-color: #179b9a;
  border-color: #179b9a; }

.btn-secondary-white, .btn-secondary-white:hover {
  border-color: white;
  text-color: white;
  opacity: 1; }

.btn-secondary-white:hover {
  border-color: #fcfcfc;
  text-color: #fcfcfc; }

.btn-link {
  text-color: #3fffc6;
  text-transform: uppercase; }

.btn-link:hover {
  text-color: #1ab285;
  text-transform: uppercase; }

/*--------------- Colors ------------*/
/** Text divs **/
.grey-text {
  color: #888888; }

.grey-darkest-text {
  color: #666666; }

.color-first-text {
  color: #4cd2ff; }

.color-second-text {
  color: #3ae8e6; }

.color-forth-text {
  color: #3a8ee8; }

/** background color divs **/
.grey-lightest-div {
  background-color: #fcfcfc; }

.grey-div {
  background-color: #eeeeee; }

.color-first-div {
  background-color: #4cd2ff;
  color: white; }

/** border color divs **/
.forth-border-div {
  border: 1px;
  border-color: #3a8ee8;
  border-style: solid; }

/** slant divs **/
@media (min-width: 992px) {
  .slant-first-div {
    width: 0;
    height: 0;
    border-left: 100vw solid transparent;
    border-top: 15vw solid #fff; } }

@media (min-width: 992px) {
  .slant-container {
    margin-top: -15vw; } }

@media (min-width: 1200px) {
  .slant-container {
    margin-top: -12vw; } }

/*--------------- Typography ------------*/
h1 {
  font-family: "Open Sans", sans serif;
  font-weight: 700;
  font-size: 48px; }
  @media (max-width: 991px) {
    h1 {
      font-size: 24px; } }

h2 {
  font-family: "Open Sans", sans serif;
  font-weight: 700;
  font-size: 24px;
  text-transform: uppercase;
  letter-spacing: 0.125em; }
  @media (max-width: 991px) {
    h2 {
      font-size: 18px; } }

h3 {
  font-family: "Open Sans", sans serif;
  font-size: 16px; }

h6 {
  margin: -15px 0px; }

body {
  font-family: "Open Sans", sans serif;
  font-size: 15px; }

/*--------------- Colors ------------*/
.panel-heading {
  text-transform: uppercase;
  color: white;
  opacity: 1;
  font-family: "Open Sans", sans serif bold;
  font-size: 24px;
  text-align: center; }

.panel-primary {
  border-color: #4cd2ff; }

.panel-primary .panel-heading {
  background-color: #4cd2ff;
  border-color: #4cd2ff; }

.panel-secondary {
  border-color: #3fffc6; }

.panel-secondary .panel-heading {
  background-color: #3fffc6;
  border-color: #3fffc6; }

.panel-body ul {
  list-style: none;
  margin-left: 0;
  padding-left: 0; }

.panel-body li {
  padding-left: 1em;
  text-indent: -1em; }

.panel-body li:before {
  content: '✓';
  padding-right: 5px; }

.thumbnail {
  text-align: left;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  padding: 0px; }

.thumbnail .caption {
  margin-left: 10px;
  margin-right: 10px;
  padding: 0px; }

@media (min-width: 768px) {
  .jumbotron {
    width: 50%;
    text-align: left;
    margin-left: 6%; } }

@media (max-width: 767px) {
  .jumbotron {
    padding: 0px; } }

@media (max-width: 767px) {
  .jumbotron p {
    font-size: 16px;
    color: white; } }

.techstackFlexbox {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly; }

.techstackFlexitem {
  flex: 0 1 auto;
  padding: 0.5em; }

.webProjectsHeader {
  text-align: center;
  padding: 2em;
  /*text-decoration: underline;*/
  color: #17579b; }

.projectGithub > svg {
  height: 50px;
  fill: #17579b; }

.techstackHeader {
  color: #fcfcfc;
  font-size: 2em;
  padding: 1em; }

.projectDivider {
  border-color: #238fb2; }
