body {
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
  background: black;
  color: white;
}

span.Cursor.Cursor--blinking {
  display: none;
}

svg {
  margin: 0 auto
}

.top {
  opacity: 0;
  animation: glow 3s infinite 1.5s;
}

.bottom {
  opacity: 0;
  animation: glow 6s ease-in infinite 1.5s;
}

#headerLogo svg.bottom {
  opacity: 1;
  animation: none !important;
}

.circle {
  opacity: 0;
  animation: glow 3s infinite 1.5s;
}

.draw {
  fill: none;
  stroke: #000;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-dasharray: 20;
  animation: line 6s ease-in-out infinite 1.5s;
}

.vert {
  fill: none;
  display: none;
  stroke: #000;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-dasharray: 20;
  animation: line 2s ease-in-out infinite;
  /*animation: line 6s ease-in-out infinite;*/
}

.masonryImage {
  list-style: none;
  padding: 1em;
}

.masonryGallery {
  width: 100vw;
  margin: 0 auto;
}

@keyframes glow {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes line {
  0% {
    stroke: #000;
    stroke-dashoffset: 10;
    opacity: 1;
  }
  25% {
    stroke: lightslategray;
    stroke-dashoffset: 50;
    opacity: 1;
  }
  50% {
    stroke: darkslategray;
    stroke-dashoffset: 100;
    opacity: 1;
  }
  75% {
    stroke: antiquewhite;
    stroke-dashoffset: 320;
    opacity: 1;
  }
  100% {
    stroke: black;
    stroke-dashoffset: 200;
    opacity: 0;
  }
}

#welcomeLogo {
  height: 30vh;
}

#headerLogo svg.bottom {
  height: 5vh;
  overflow: hidden;
  }

.navbar-brand {
    padding: 0;
}

svg.bottom {
  overflow: hidden;
  height: 30vh;
}

body {
  background:#0b1d2a;
}

.arrows {
  width: 60px;
  height: 72px;
  position: absolute;
  left: 50%;
  margin-left: -30px;
  top: 88vh;
}

.arrows path {
  stroke: #2994D1;
  fill: transparent;
  stroke-width: 1px;  
  animation: arrow 2s infinite;
  -webkit-animation: arrow 2s infinite; 
}

@keyframes arrow
{
0% {opacity:0}
40% {opacity:1}
80% {opacity:0}
100% {opacity:0}
}

@-webkit-keyframes arrow /*Safari and Chrome*/
{
0% {opacity:0}
40% {opacity:1}
80% {opacity:0}
100% {opacity:0}
}

.arrows path.a1 {
  animation-delay:-1s;
  -webkit-animation-delay:-1s; /* Safari 和 Chrome */
}

.arrows path.a2 {
  animation-delay:-0.5s;
  -webkit-animation-delay:-0.5s; /* Safari 和 Chrome */
}

.arrows path.a3 { 
  animation-delay:0s;
  -webkit-animation-delay:0s; /* Safari 和 Chrome */
}

@media screen {
  
}

