html,
body,
ul,
li,
h1,
h2,
h3,
h4,
h5,
h6,
p,
div,
span,
section,
article,
iframe,
a {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Open Sans", sans-serif;
  background: black;
  color: white;
}

span.Cursor.Cursor--blinking {
  display: none;
}

svg {
  margin: 0 auto;
}

.top {
  opacity: 0;
  animation: glow 3s infinite 1.5s;
}

.bottom {
  opacity: 0;
  animation: glow 6s ease-in infinite 1.5s;
}

#headerLogo svg.bottom {
  opacity: 1;
  animation: none !important;
}

.circle {
  opacity: 0;
  animation: glow 3s infinite 1.5s;
}

.draw {
  fill: none;
  stroke: #000;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-dasharray: 20;
  animation: line 6s ease-in-out infinite 1.5s;
}

.vert {
  fill: none;
  display: none;
  stroke: #000;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-dasharray: 20;
  animation: line 2s ease-in-out infinite;
  /*animation: line 6s ease-in-out infinite;*/
}

.masonryImage {
  /*padding: 2em;*/
}

.masonryGallery {
  margin: 0 auto;
}

@keyframes glow {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes line {
  0% {
    stroke: #000;
    stroke-dashoffset: 10;
    opacity: 1;
  }
  25% {
    stroke: lightslategray;
    stroke-dashoffset: 50;
    opacity: 1;
  }
  50% {
    stroke: darkslategray;
    stroke-dashoffset: 100;
    opacity: 1;
  }
  75% {
    stroke: antiquewhite;
    stroke-dashoffset: 320;
    opacity: 1;
  }
  100% {
    stroke: black;
    stroke-dashoffset: 200;
    opacity: 0;
  }
}

#welcomeLogo {
  height: 30vh;
}

#headerLogo svg.bottom {
  height: 5vh;
  overflow: hidden;
}

.navbar-brand {
  padding: 0;
}

svg.bottom {
  overflow: hidden;
  height: 30vh;
}

body {
  background: #0b1d2a;
}

.arrows {
  width: 60px;
  height: 72px;
  position: absolute;
  left: 50%;
  margin-left: -30px;
  top: 88vh;
}

.arrows path {
  stroke: #2994d1;
  fill: transparent;
  stroke-width: 1px;
  animation: arrow 2s infinite;
  -webkit-animation: arrow 2s infinite;
}

@keyframes arrow {
  0% {
    opacity: 0;
  }
  40% {
    opacity: 1;
  }
  80% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

@-webkit-keyframes arrow {
  0% {
    opacity: 0;
  }
  40% {
    opacity: 1;
  }
  80% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

.arrows path.a1 {
  animation-delay: -1s;
  -webkit-animation-delay: -1s; /* Safari 和 Chrome */
}

.arrows path.a2 {
  animation-delay: -0.5s;
  -webkit-animation-delay: -0.5s; /* Safari 和 Chrome */
}

.arrows path.a3 {
  animation-delay: 0s;
  -webkit-animation-delay: 0s; /* Safari 和 Chrome */
}

@media screen {
}

.scrollLink:hover {
  cursor: pointer;
}

/* TRUCKHUNT SVG */

.text {
  fill: none;
  width: 100px;
  stroke-width: 3;
  stroke-linejoin: round;
  stroke-dasharray: 70 330;
  stroke-dashoffset: 0;
  -webkit-animation: stroke 6s infinite linear;
  animation: stroke 6s infinite linear;
}
.text:nth-child(5n + 1) {
  stroke: #f2385a;
  -webkit-animation-delay: -1.2s;
  animation-delay: -1.2s;
}
.text:nth-child(5n + 2) {
  stroke: #f5a503;
  -webkit-animation-delay: -2.4s;
  animation-delay: -2.4s;
}
.text:nth-child(5n + 3) {
  stroke: #e9f1df;
  -webkit-animation-delay: -3.6s;
  animation-delay: -3.6s;
}
.text:nth-child(5n + 4) {
  stroke: #56d9cd;
  -webkit-animation-delay: -4.8s;
  animation-delay: -4.8s;
}
.text:nth-child(5n + 5) {
  stroke: #3aa1bf;
  -webkit-animation-delay: -6s;
  animation-delay: -6s;
}

@-webkit-keyframes stroke {
  100% {
    stroke-dashoffset: -400;
  }
}
@keyframes stroke {
  100% {
    stroke-dashoffset: -400;
  }
}

#TruckHuntSVG {
  background: #111;
  background-size: 0.2em 880px;
  /*max-width: 100%;*/
  font: 5em/1 Open Sans, Impact;
  text-transform: uppercase;
  margin: 0;
}

.welcomeStyle {
  padding: 20;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}

@media screen and (max-width: 700px){
  .welcomeStyle {
    padding: 0;
  }
  .typistHeader{
    font-size: 1.5em;
  }
  .typistContent {
    font-size: 1em;
  }
} 
